{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/generate-token": {
      "post": {
        "tags": [
          "Authorization",
          "Security"
        ],
        "description": "Generates JWT Authorization token required for accessing ClickPesa APIs",
        "parameters": [
          {
            "in": "header",
            "name": "client-id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Application Client ID."
          },
          {
            "in": "header",
            "name": "api-key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Application API Key."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Generate token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenMissingCredentialsError"
                }
              }
            }
          },
          "403": {
            "description": "Invalid Client Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenInvalidClientDetailsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateTokenResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "token": {
            "type": "string",
            "example": "Bearer token"
          }
        },
        "required": [
          "success",
          "token"
        ]
      },
      "GenerateTokenInvalidClientDetailsError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Invalid client details",
              "Invalid or Expired API-Key",
              "Unauthorized API-Key"
            ],
            "example": "Invalid or Expired API-Key"
          }
        },
        "required": [
          "message"
        ]
      },
      "GenerateTokenMissingCredentialsError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Unauthorized"
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header in the form of `Bearer <token>`, where `<token>` is a valid JWT from generate token endpoint",
        "bearerFormat": "JWT"
      }
    }
  }
}