{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payouts/preview-mobile-money-payout": {
      "post": {
        "tags": [
          "Payouts",
          "Preview"
        ],
        "description": "Validates mobile money payout details like phone number, amount, order-reference, fee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "phoneNumber",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Your payout amount"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Mobile phone number to receive mobile money payout, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "TZS"
                    ],
                    "description": "Your order payment currency to receive in (Will always be TZS)"
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mobile money payout Preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewMobileMoneyPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/create-mobile-money-payout": {
      "post": {
        "tags": [
          "Payouts",
          "Create"
        ],
        "description": "Initiate a mobile money payout by sending a request to the API. The specified amount will be transferred to the recipient’s mobile wallet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "phoneNumber",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Your payout amount"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Mobile phone number to receive mobile money payout, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "TZS"
                    ],
                    "description": "Your order payment currency to receive in (Will always be TZS)"
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mobile money payout Preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMobileMoneyPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreviewMobileMoneyPayoutResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "example": 1047.1
          },
          "balance": {
            "type": "number",
            "example": 2000
          },
          "channelProvider": {
            "type": "string",
            "example": "TIGO PESA"
          },
          "fee": {
            "type": "number",
            "example": 47.1
          },
          "order": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "TZS"
              },
              "id": {
                "type": "string",
                "example": "UNIQUEREFERENCE"
              }
            }
          },
          "payoutFeeBearer": {
            "type": "string",
            "example": "merchant",
            "enum": [
              "merchant",
              "both",
              "customer"
            ]
          },
          "receiver": {
            "type": "object",
            "properties": {
              "accountName": {
                "type": "string",
                "example": "John Doe"
              },
              "accountNumber": {
                "type": "string",
                "example": "255650000000"
              }
            }
          }
        }
      },
      "CreateMobileMoneyPayoutResponse": {
        "type": "object",
        "properties": {
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "orderReference": {
            "type": "string",
            "description": "Your unique order reference"
          },
          "amount": {
            "type": "string",
            "example": "1000"
          },
          "currency": {
            "type": "string",
            "example": "TZS"
          },
          "fee": {
            "type": "string",
            "example": "47.00"
          },
          "status": {
            "type": "string",
            "enum": [
              "AUTHORIZED",
              "SUCCESS",
              "REVERSED"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "MOBILE MONEY"
            ]
          },
          "channelProvider": {
            "type": "string",
            "example": "MPESA TANZANIA"
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "example": "255650000000"
              },
              "accountName": {
                "type": "string",
                "example": "John Doe"
              }
            }
          },
          "clientId": {
            "type": "string",
            "description": "Application Client ID associated with the payout"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Valid Client ID is required",
              "Application has no access to PAYOUT API feature. Enable it on your application.",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank",
              "Insufficient balance: available balance is {balance} TZS",
              "Payout request is already in progress, please retry after {remaining time} seconds"
            ],
            "example": "Insufficient balance: available balance is {balance} TZS"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Internal Server Error"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header containing the JWT access token returned from the generate token endpoint. The token already includes the Bearer prefix. Example: `Authorization: Bearer eyJhbGciOi...`",
        "bearerFormat": "JWT"
      }
    }
  }
}