{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payouts/preview-mobile-money-payout": {
      "post": {
        "tags": ["Payouts", "Preview"],
        "description": "Validates a mobile money payout and returns the fee and balance.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "phoneNumber",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Your payout amount"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Mobile phone number to receive mobile money payout, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["TZS", "USD"],
                    "description": "Account currency to pay out from (TZS or USD). User will receive funds in TZS"
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mobile money payout Preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewMobileMoneyPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/create-mobile-money-payout": {
      "post": {
        "tags": ["Payouts", "Create"],
        "description": "Sends a payout to a mobile money wallet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "phoneNumber",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Your payout amount"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Mobile phone number to receive mobile money payout, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["TZS", "USD"],
                    "description": "Account currency to pay out from (TZS or USD). User will receive funds in TZS (Mobile can't hold USD)"
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mobile money payout Preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMobileMoneyPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreviewMobileMoneyPayoutResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount to be deducted from your account balance (includes fee)",
            "example": 1047.1
          },
          "balance": {
            "type": "number",
            "example": 2000
          },
          "channelProvider": {
            "type": "string",
            "example": "TIGO PESA"
          },
          "fee": {
            "type": "number",
            "description": "Transaction fee deducted from source currency (included in amount)",
            "example": 47.1
          },
          "exchanged": {
            "type": "boolean",
            "description": "Indicates if currency conversion was applied (true when source currency differs from receiving currency)",
            "example": true
          },
          "exchange": {
            "type": "object",
            "description": "Exchange rate details (only present when exchanged is true)",
            "properties": {
              "sourceCurrency": {
                "type": "string",
                "description": "Source currency for the exchange",
                "example": "USD"
              },
              "targetCurrency": {
                "type": "string",
                "description": "Target currency for the exchange",
                "example": "TZS"
              },
              "sourceAmount": {
                "type": "number",
                "description": "Amount in source currency",
                "example": 1000
              },
              "rate": {
                "type": "number",
                "description": "Exchange rate used for conversion",
                "example": 2500
              }
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "Amount to be added during order creation/payload",
                "example": 1000
              },
              "currency": {
                "type": "string",
                "example": "TZS"
              },
              "id": {
                "type": "string",
                "example": "UNIQUEREFERENCE"
              }
            }
          },
          "payoutFeeBearer": {
            "type": "string",
            "example": "merchant",
            "enum": ["merchant", "both", "customer"]
          },
          "receiver": {
            "type": "object",
            "properties": {
              "accountName": {
                "type": "string",
                "description": "Receiver name: fetched from MNO; if unavailable, falls back to phone number when not required. If required and unavailable, payout fails validation.",
                "example": "John Doe"
              },
              "accountNumber": {
                "type": "string",
                "example": "255650000000"
              },
              "accountCurrency": {
                "type": "string",
                "description": "Currency the user will receive funds in",
                "example": "TZS"
              },
              "amount": {
                "type": "number",
                "description": "Amount the user will receive in TZS",
                "example": 1000
              }
            }
          }
        }
      },
      "CreateMobileMoneyPayoutResponse": {
        "type": "object",
        "properties": {
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "orderReference": {
            "type": "string",
            "description": "Your unique order reference"
          },
          "amount": {
            "type": "string",
            "description": "Total amount deducted from your account balance (includes fee)",
            "example": "1047.10"
          },
          "currency": {
            "type": "string",
            "example": "TZS"
          },
          "fee": {
            "type": "string",
            "description": "Transaction fee deducted from source currency (included in amount)",
            "example": "47.10"
          },
          "exchanged": {
            "type": "boolean",
            "description": "Indicates if currency conversion was applied (true when source currency differs from receiving currency)",
            "example": true
          },
          "exchange": {
            "type": "object",
            "description": "Exchange rate details (only present when exchanged is true)",
            "properties": {
              "sourceCurrency": {
                "type": "string",
                "description": "Source currency for the exchange",
                "example": "USD"
              },
              "targetCurrency": {
                "type": "string",
                "description": "Target currency for the exchange",
                "example": "TZS"
              },
              "sourceAmount": {
                "type": "number",
                "description": "Amount in source currency",
                "example": 1000
              },
              "rate": {
                "type": "number",
                "description": "Exchange rate used for conversion",
                "example": 2500
              }
            }
          },
          "status": {
            "type": "string",
            "enum": ["AUTHORIZED", "SUCCESS", "REVERSED"]
          },
          "channel": {
            "type": "string",
            "enum": ["MOBILE MONEY"]
          },
          "channelProvider": {
            "type": "string",
            "example": "MPESA TANZANIA"
          },
          "order": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "string",
                "description": "Amount added during order creation/payload",
                "example": "1000.00"
              },
              "currency": {
                "type": "string",
                "example": "TZS"
              }
            }
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "example": "255650000000"
              },
              "accountName": {
                "type": "string",
                "description": "Beneficiary name: fetched from MNO; if unavailable, falls back to phone number when not required. If required and unavailable, payout fails validation.",
                "example": "John Doe"
              }
            }
          },
          "clientId": {
            "type": "string",
            "description": "Application Client ID associated with the payout"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Valid Client ID is required",
              "Application has no access to PAYOUT API feature. Enable it on your application.",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank",
              "Insufficient balance: available balance is {balance} TZS",
              "Payout request is already in progress, please retry after {remaining time} seconds"
            ],
            "example": "Insufficient balance: available balance is {balance} TZS"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Internal Server Error"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header containing the JWT access token returned from the generate token endpoint. The token already includes the Bearer prefix. Example: `Authorization: Bearer eyJhbGciOi...`",
        "bearerFormat": "JWT"
      }
    }
  }
}
