{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payouts/preview-bank-payout": {
      "post": {
        "tags": ["Payouts", "Preview"],
        "description": "Validates bank payout details like amount, order-reference and verifies payout channels availability",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "accountNumber",
                  "currency",
                  "bic",
                  "transferType"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["TZS"]
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                    "bic": {
                    "type": "string",
                    "description": "Beneficiary bank BIC. You can fetch the list of bank BICs from the [banks list endpoint.](/api-reference/list/get-bank-list)"
                  },
                  "transferType": {
                    "type": "string",
                    "enum": ["ACH", "RTGS"]
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank payout preview response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewBankPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/create-bank-payout": {
      "post": {
        "tags": ["Payouts", "Initiate"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "accountNumber",
                  "currency",
                  "bic",
                  "transferType",
                  "accountName"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "accountName": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",

                    "enum": ["TZS"]
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "bic": {
                    "type": "string",
                    "description": "Beneficiary bank BIC. You can fetch the list of bank BICs from the [banks list endpoint.](/api-reference/list/get-bank-list)"
                  },
                  "transferType": {
                    "type": "string",
                    "enum": ["ACH", "RTGS"]
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create bank payout response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankPayoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreviewBankPayoutResponse": {
        "type": "object",
        "properties": {
          "amount": { "type": "number", "example": 1047.1 },
          "balance": { "type": "number", "example": 2000 },
          "channelProvider": {
            "type": "string",
            "example": "AMANA BANK LIMITED"
          },
          "fee": { "type": "number", "example": 47.1 },
          "order": {
            "type": "object",
            "properties": {
              "amount": { "type": "number", "example": 1000 },
              "currency": { "type": "string", "example": "TZS" },
              "id": { "type": "string", "example": "UNIQUEREFERENCE" }
            }
          },
          "payoutFeeBearer": {
            "type": "string",
            "example": "merchant",
            "enum": ["merchant", "both", "customer"]
          },
          "receiver": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "example": "0112345400847jhs"
              }
            }
          },
          "transferType": {
            "type": "string",
            "enum": ["ACH", "RTGS"]
          }
        }
      },

      "CreateBankPayoutResponse": {
        "type": "object",
        "properties": {
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "orderReference": {
            "type": "string"
          },
          "amount": {
            "type": "string",
            "example": "20000.00"
          },
          "currency": {
            "type": "string",
            "example": "TZS"
          },
          "fee": {
            "type": "string",
            "example": "2360.00"
          },
          "status": {
            "type": "string",
            "enum": ["AUTHORIZED", "SUCCESS", "REVERSED"]
          },
          "channel": {
            "type": "string",
            "enum": ["BANK TRANSFER"]
          },
          "channelProvider": {
            "type": "string",
            "example": "Equity Bank Tanzania Limited"
          },
          "transferType": {
            "type": "string",
            "enum": ["ACH", "RTGS"],
            "nullable": true,
            "example": "ACH"
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "example": "123456789"
              },
              "accountName": {
                "type": "string",
                "example": "John Doe"
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Valid Client ID is required",
              "Unsupported channel provider",
              "Application has no access to PAYOUT API feature. Enable it on your application.",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank",
              "Insufficient balance: available balance is {balance} TZS"
            ],
            "example": "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Internal Server Error"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
