{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API - BillPay Control Number Creation",
    "description": "API for creating BillPay Control Numbers",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/billpay/create-order-control-number": {
      "post": {
        "description": "Generates a BillPay Control Number for a specific bill, transaction or invoice",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billDescription": {
                    "type": "string",
                    "description": "Description of the bill",
                    "example": "Water Bill - July 2024"
                  },
                  "billPaymentMode": {
                    "type": "string",
                    "enum": [
                      "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                      "EXACT"
                    ],
                    "default": "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                    "description": "Payment mode for the bill. Applied when `billAmount` is set, or when `billMaxCollectionAmount` is set (forced to `ALLOW_PARTIAL_AND_OVER_PAYMENT`)"
                  },
                  "billAmount": {
                    "type": "number",
                    "description": "Target/expected bill payment amount",
                    "example": 90900
                  },
                  "billMaxCollectionAmount": {
                    "type": "number",
                    "description": "Maximum total amount this control number can collect. Closes when the limit is reached. Only with `ALLOW_PARTIAL_AND_OVER_PAYMENT`. If `billAmount` is also set, this must be at least `billAmount`.",
                    "example": 150000
                  },
                  "billReference": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Custom bill reference (alphanumeric, maximum 20 characters). You can use your own references that already exist in your system (e.g. invoice or order IDs). If provided, this will be the number used to make payment. If not provided, the system auto-generates one"
                  }
                }
              },
              "example": {
                "billDescription": "Water Bill - July 2024",
                "billPaymentMode": "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                "billAmount": 90900,
                "billMaxCollectionAmount": 150000,
                "billReference": "CUSTOMJH121"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated BillPay Control Number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }
    },
    "/billpay/create-customer-control-number": {
      "post": {
        "description": "Generates a BillPay Control Number for a specific customer",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customerName"
                ],
                "properties": {
                  "customerName": {
                    "type": "string",
                    "description": "Name of the customer"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Email address of the customer **(required if customerPhone is not provided)**"
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "Phone number of the customer **(required if customerEmail is not provided)**, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "billDescription": {
                    "type": "string",
                    "description": "Description of the bill",
                    "example": "Water Bill - July 2024"
                  },
                  "billPaymentMode": {
                    "type": "string",
                    "enum": [
                      "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                      "EXACT"
                    ],
                    "default": "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                    "description": "Payment mode for the bill. Applied when `billAmount` is set, or when `billMaxCollectionAmount` is set (forced to `ALLOW_PARTIAL_AND_OVER_PAYMENT`)"
                  },
                  "billAmount": {
                    "type": "number",
                    "description": "Target/expected bill payment amount",
                    "example": 90900
                  },
                  "billMaxCollectionAmount": {
                    "type": "number",
                    "description": "Maximum total amount this control number can collect. Closes when the limit is reached. Only with `ALLOW_PARTIAL_AND_OVER_PAYMENT`. If `billAmount` is also set, this must be at least `billAmount`.",
                    "example": 150000
                  },
                  "billReference": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Custom bill reference (alphanumeric, maximum 20 characters). You can use your own references that already exist in your system (e.g. invoice or order IDs). If provided, this will be the number used to make payment. If not provided, the system auto-generates one"
                  }
                }
              },
              "example": {
                "billDescription": "Water Bill - July 2024",
                "billPaymentMode": "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                "billAmount": 90900,
                "billMaxCollectionAmount": 150000,
                "billReference": "CUSTOMJH121",
                "customerName": "John Doe",
                "customerEmail": "john@example.com",
                "customerPhone": "255712345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated Customer BillPay Control Number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }
    },
    "/billpay/bulk-create-order-control-numbers": {
      "post": {
        "description": "Bulk creates BillPay Order Control Numbers (max 50 per request). Supports partial success: valid items are created while invalid items are reported in the errors array.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "controlNumbers"
                ],
                "properties": {
                  "controlNumbers": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "description": "Array of order control number items",
                    "items": {
                      "type": "object",
                      "properties": {
                        "billReference": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "Custom bill reference (alphanumeric, maximum 20 characters). You can use your own references that already exist in your system"
                        },
                        "billAmount": {
                          "type": "number",
                          "description": "Target/expected bill payment amount"
                        },
                        "billMaxCollectionAmount": {
                          "type": "number",
                          "description": "Maximum total amount this control number can collect. Closes when the limit is reached. Only with `ALLOW_PARTIAL_AND_OVER_PAYMENT`."
                        },
                        "billDescription": {
                          "type": "string",
                          "description": "Description of the bill"
                        },
                        "billPaymentMode": {
                          "type": "string",
                          "enum": [
                            "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                            "EXACT"
                          ],
                          "description": "Payment mode. Applied when `billAmount` is set, or when `billMaxCollectionAmount` is set"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "controlNumbers": [
                  {
                    "billAmount": 25000,
                    "billMaxCollectionAmount": 75000,
                    "billDescription": "Order 1"
                  },
                  {
                    "billReference": "ORD002",
                    "billAmount": 50000
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk create result - may include partial success with per-item errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/billpay/bulk-create-customer-control-numbers": {
      "post": {
        "description": "Bulk create BillPay Customer Control Numbers (max 50 per request). Each item follows the single-create format. Supports partial success \u2014 valid items are created; invalid ones are returned in the errors array",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "controlNumbers"
                ],
                "properties": {
                  "controlNumbers": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "description": "Array of customer control number items",
                    "items": {
                      "type": "object",
                      "required": [
                        "customerName"
                      ],
                      "properties": {
                        "customerName": {
                          "type": "string",
                          "description": "Name of the customer"
                        },
                        "customerEmail": {
                          "type": "string",
                          "description": "Email (required if customerPhone not provided)"
                        },
                        "customerPhone": {
                          "type": "string",
                          "description": "Phone - 12 digits, country code, no plus (required if customerEmail not provided)"
                        },
                        "billReference": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "Custom bill reference (alphanumeric, maximum 20 characters). You can use your own references that already exist in your system"
                        },
                        "billAmount": {
                          "type": "number",
                          "description": "Target/expected bill payment amount"
                        },
                        "billMaxCollectionAmount": {
                          "type": "number",
                          "description": "Maximum total amount this control number can collect. Closes when the limit is reached. Only with `ALLOW_PARTIAL_AND_OVER_PAYMENT`."
                        },
                        "billDescription": {
                          "type": "string",
                          "description": "Description of the bill"
                        },
                        "billPaymentMode": {
                          "type": "string",
                          "enum": [
                            "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                            "EXACT"
                          ],
                          "description": "Payment mode. Applied when `billAmount` is set, or when `billMaxCollectionAmount` is set"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "controlNumbers": [
                  {
                    "customerName": "John Doe",
                    "customerEmail": "john@example.com",
                    "billAmount": 25000,
                    "billMaxCollectionAmount": 75000
                  },
                  {
                    "customerName": "Jane Smith",
                    "customerPhone": "255712345678",
                    "billReference": "CUST002"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk create result - may include partial success with per-item errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/billpay/{billPayNumber}": {
      "get": {
        "description": "Queries for BillPay number details",
        "parameters": [
          {
            "name": "billPayNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "BillPay number to query for details"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully queried for BillPay number details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Partially updates a BillPay reference. Use to update amount, description, payment mode, collection ceiling, or status without recreating the reference.",
        "parameters": [
          {
            "name": "billPayNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "BillPay number to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "billStatus": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "Status of the BillPay reference"
                  },
                  "billAmount": {
                    "type": "number",
                    "minimum": 0.01,
                    "description": "Target/expected bill payment amount (positive, max 2 decimal places)"
                  },
                  "billMaxCollectionAmount": {
                    "type": "number",
                    "description": "New max total that can be collected. Remaining is recalculated from what was already paid. Only with `ALLOW_PARTIAL_AND_OVER_PAYMENT`."
                  },
                  "billDescription": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Description of the bill"
                  },
                  "billPaymentMode": {
                    "type": "string",
                    "enum": [
                      "ALLOW_PARTIAL_AND_OVER_PAYMENT",
                      "EXACT"
                    ],
                    "description": "Payment mode. Switching to `EXACT` removes the collection limit."
                  }
                }
              },
              "example": {
                "billAmount": 50000,
                "billMaxCollectionAmount": 100000,
                "billDescription": "Updated order description"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated BillPay reference",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBillPayReferenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        }
      }
    },
    "/billpay/update-status": {
      "put": {
        "deprecated": true,
        "description": "**Deprecated.** Use PATCH /billpay/{billPayNumber} with body { billStatus } instead. Updates the status of a BillPay reference. Inactive references will be rejected during verification and confirmation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "billPayNumber",
                  "status"
                ],
                "properties": {
                  "billPayNumber": {
                    "type": "string",
                    "description": "The BillPay reference number to update",
                    "example": "55042914871931"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE"
                    ],
                    "description": "The status to set for the BillPay reference. ACTIVE allows payments to be processed, INACTIVE prevents payments from being processed.",
                    "example": "INACTIVE"
                  }
                }
              },
              "example": {
                "billPayNumber": "55042914871931",
                "status": "INACTIVE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated BillPay reference status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateResponse": {
        "type": "object",
        "properties": {
          "billPayNumber": {
            "type": "string",
            "description": "BillPay number - This is the number that will be used to make payment. If a custom `billReference` was provided in the request, this will match that value.",
            "example": "55042914871931"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "billPayNumber": {
            "type": "string",
            "description": "BillPay number - This is the number that will be used to make payment. If a custom `billReference` was provided in the request, this will match that value.",
            "example": "55042914871931"
          },
          "billDescription": {
            "type": "string",
            "description": "Description of the bill",
            "example": "Generic Bamboo Chees"
          },
          "billCustomerName": {
            "type": "string",
            "description": "Name of the customer - for customer billpay numbers",
            "example": "Mr. Freddie Walker-Graham"
          },
          "billAmount": {
            "type": "number",
            "description": "Target/expected bill payment amount",
            "example": 90900
          },
          "billMaxCollectionAmount": {
            "type": "number",
            "description": "Max total this control number can collect",
            "example": 150000
          },
          "billRemainingAmount": {
            "type": "number",
            "description": "How much can still be collected",
            "example": 60000
          },
          "billPaymentMode": {
            "type": "string",
            "description": "Payment mode for the bill",
            "example": "ALLOW_PARTIAL_AND_OVER_PAYMENT"
          }
        }
      },
      "BulkCreateResponse": {
        "type": "object",
        "properties": {
          "billPayNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of successfully created BillPay numbers"
          },
          "created": {
            "type": "number",
            "description": "Count of successfully created control numbers"
          },
          "failed": {
            "type": "number",
            "description": "Count of failed items"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "number",
                  "description": "0-based index of the failed item in the request array"
                },
                "reason": {
                  "type": "string",
                  "description": "Error message for the failed item"
                }
              }
            },
            "description": "Present only when failed > 0"
          }
        }
      },
      "StatusUpdateResponse": {
        "type": "object",
        "properties": {
          "billPayNumber": {
            "type": "string",
            "description": "The BillPay reference number that was updated",
            "example": "55042914871931"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "description": "The updated status of the BillPay reference",
            "example": "INACTIVE"
          }
        }
      },
      "UpdateBillPayReferenceResponse": {
        "type": "object",
        "properties": {
          "billPayNumber": {
            "type": "string",
            "description": "The BillPay reference number that was updated",
            "example": "55042914871931"
          },
          "billStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "description": "The updated status of the BillPay reference"
          },
          "billAmount": {
            "type": "number",
            "description": "Target/expected bill payment amount"
          },
          "billMaxCollectionAmount": {
            "type": "number",
            "description": "Max total this control number can collect"
          },
          "billRemainingAmount": {
            "type": "number",
            "description": "How much can still be collected"
          },
          "billDescription": {
            "type": "string",
            "description": "Description of the bill"
          },
          "billPaymentMode": {
            "type": "string",
            "enum": [
              "ALLOW_PARTIAL_AND_OVER_PAYMENT",
              "EXACT"
            ],
            "description": "Payment mode"
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "BillPay Number does not exist"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Validation error message",
            "example": "billPayNumber is required"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict error message",
            "example": "Bill reference already used: Use a different reference"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header containing the JWT access token returned from the generate token endpoint. The token already includes the Bearer prefix. Example: `Authorization: Bearer eyJhbGciOi...`",
        "bearerFormat": "JWT"
      }
    }
  }
}
