{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payouts/generate-payout-url": {
      "post": {
        "description": "Generate Checkout Link for receiving online payments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount"
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generate Checkout Link Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateCheckoutLinkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateCheckoutLinkResponse": {
        "type": "object",
        "properties": {
          "payoutLink": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Valid Client ID is required",
              "Application has no access to hosted payout feature",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
            ],
            "example": "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
