{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payments/all": {
      "get": {
        "description": "Query all payments with filtering, sorting, pagination, and search capabilities",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for filtering payments (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for filtering payments (YYYY-MM-DD)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SUCCESS", "SETTLED", "PROCESSING", "PENDING", "FAILED"]
            },
            "description": "Payment status filter"
          },
          {
            "name": "collectedCurrency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Currency filter (e.g., TZS, USD)"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Payment channel filter"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Payment ID filter"
          },
          {
            "name": "orderReference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Order reference filter"
          },
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client ID filter"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field to sort by (default: createdAt). All response fields are sortable including customer fields"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ASC", "DESC"],
              "default": "DESC"
            },
            "description": "Sort order (default: DESC)"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of records to skip for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            },
            "description": "Number of records to return"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search across specific fields using format: field=keyword,another_field=another_keyword. Available searchable fields: id, status, paymentReference, orderReference, collectedAmount, collectedCurrency, message, createdAt, updatedAt, customer.customerName, customer.customerPhoneNumber, customer.customerEmail. Example: search=customer.customerName=John,collectedCurrency=TZS,status=SUCCESS"
          }
        ],
        "responses": {
          "200": {
            "description": "Query all payments response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentResponse"
            },
            "description": "Array of payment records"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of payments matching the query criteria"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique transaction ID"
          },
          "status": {
            "type": "string",
            "description": "Payment status",
            "enum": ["SUCCESS", "SETTLED", "PROCESSING", "PENDING", "FAILED"]
          },
          "paymentReference": {
            "type": "string",
            "description": "Unique reference for the payment"
          },
          "orderReference": {
            "type": "string",
            "description": "Order reference associated with the payment"
          },
          "collectedAmount": {
            "type": "integer",
            "description": "Amount collected"
          },
          "collectedCurrency": {
            "type": "string",
            "description": "Currency in which payment was collected"
          },
          "message": {
            "type": "string",
            "description": "Message describing payment status"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when payment was last updated"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when payment was created"
          },
          "customer": {
            "type": "object",
            "properties": {
              "customerName": {
                "type": "string",
                "description": "Customer's full name"
              },
              "customerPhoneNumber": {
                "type": "string",
                "description": "Customer's phone number"
              },
              "customerEmail": {
                "type": "string",
                "format": "email",
                "description": "Customer's email (if available)"
              }
            }
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Bad request error message"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
