{
  "openapi": "3.0.1",
  "info": {
    "title": "CORE API OpenAPI Specification",
    "description": "This is the API documentation for the ClickPesa CORE API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clickpesa.com/third-parties"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payments/preview-ussd-push-request": {
      "post": {
        "tags": [
          "Payments",
          "Preview"
        ],
        "description": "Validates push details like phone number, amount, order-reference and verifies payment channels availability",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Your payment amount"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "TZS"
                    ]
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview USSD Push response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewUSSDPushResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewUssdPushValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewUSSDPushConflictError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewUssdPushNotFoundError"
                }
              }
            }
          }
        }
      }
    },
    "/payments/initiate-ussd-push-request": {
      "post": {
        "tags": [
          "Payments",
          "Initiate"
        ],
        "description": "Sends the USSD-PUSH request to customer's mobile device for payment authorization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "orderReference",
                  "phoneNumber",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Your payment amount"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "TZS"
                    ]
                  },
                  "orderReference": {
                    "type": "string",
                    "description": "Your unique Order reference"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Mobile phone number to receive USSD-PUSH and make payment, starting with country code and without the plus sign, e.g., 255712345678"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "If enabled, this is the generated checksum of the payload. Refer to the [documentation](/home/checksum) for more details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Initiate USSD Push response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateUSSDPushResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or Expired Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateUssdPushValidationError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateUSSDPushConflictError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateUssdPushNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateUSSDPushInternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreviewUSSDPushResponse": {
        "type": "object",
        "properties": {
          "activeMethods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Payment method name (e.g., TIGO-PESA, M-PESA, AIRTEL-MONEY)"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "AVAILABLE",
                    "UNAVAILABLE"
                  ],
                  "description": "Status of the payment method"
                },
                "fee": {
                  "type": "integer",
                  "description": "Fee amount if the payment method is available."
                },
                "message": {
                  "type": "integer",
                  "description": "Message if the payment method is unavailable."
                }
              }
            }
          }
        }
      },
      "PreviewUssdPushValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Valid Client ID is required",
              "Application has no access to COLLECTION API feature. Enable it on your application.",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
            ],
            "example": "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
          }
        }
      },
      "PreviewUssdPushNotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Account has no payment collection methods",
              "Account has no valid payment method"
            ],
            "example": "Account has no payment collection methods"
          }
        }
      },
      "PreviewUSSDPushConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "InitiateUSSDPushResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the USSD-PUSH transaction"
          },
          "status": {
            "type": "string",
            "enum": [
              "PROCESSING",
              "SUCCESS",
              "FAILED",
              "SETTLED"
            ],
            "description": "Current status of the transaction"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction (e.g., TIGO-PESA, M-PESA, AIRTEL-MONEY)"
          },
          "orderReference": {
            "type": "string",
            "description": "Your unique Reference identifier for the order"
          },
          "collectedAmount": {
            "type": "string",
            "description": "Amount collected from the transaction"
          },
          "collectedCurrency": {
            "type": "string",
            "description": "Currency of the collected amount (e.g., TZS)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was created"
          },
          "clientId": {
            "type": "string",
            "description": "Application Client ID associated with the payment"
          }
        }
      },
      "InitiateUssdPushValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Invalid / unsupported phone number",
              "Valid Client ID is required",
              "Application has no access to COLLECTION API feature. Enable it on your application.",
              "Invalid Order Reference, should only contain alphanumeric characters and cannot be blank"
            ],
            "example": "Invalid / unsupported phone number"
          }
        }
      },
      "InitiateUssdPushNotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "enum": [
              "Account has no payment collection methods",
              "Account has no valid payment method"
            ],
            "example": "Account has no payment collection methods"
          }
        }
      },
      "InitiateUSSDPushConflictError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Conflict message when an order reference is already used",
            "example": "Order reference {Your reference} already used: Create a different reference"
          }
        }
      },
      "InitiateUSSDPushInternalServerError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Internal Server Error",
            "example": "Error validating fee, try again later"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Unauthorized Error",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization header containing the JWT access token returned from the generate token endpoint. The token already includes the Bearer prefix. Example: `Authorization: Bearer eyJhbGciOi...`",
        "bearerFormat": "JWT"
      }
    }
  }
}